html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body {
    display: flex;
    flex-direction: column;
}

h1
{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

#map
{
    flex-grow: 1;
    width: 100%;
    min-height: 0;
}

.leaflet-custom-button
{
    width: 52px;
    height: 52px;
}
